.right-half {
    background-image: url(../images/mavis-cw-164128.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: column;
    justify-content: left;
    gap: 1em;
    align-items: left;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

aside .kids img {
    max-width: 214px;
}

img {
    margin: 0.5em;
    border-radius: 50%;
}


