
.right-half {
    background-image: url(../images/jesse-orrico-60373.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: column;
    justify-content: space-between;
    gap: 1.5em;
    align-items: left;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

aside p {
    text-align: center;
    width: 80%;
}

.question {
    max-width: 100%;
    height: auto;
    width: auto;
}
