.right-half {
    background-image: url(../images/open-hours.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: column;
    justify-content: center;
    gap: 1.5em;
    align-items: left;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    padding-bottom: 3em;
}

body {
    font-family: nunito, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form {
    padding-top: 1em;
    padding-left: 1em;
}

label {
    display: block;
    font-size: 18px;
    font-weight: 600;
}

input {
    padding-top: 0;
}
input, textarea, select {
    padding: 0.7em 1em;
    border-radius: 5px;
    font-weight: 600;
}

form #message {
    padding: 1.5em 1.8em;
    margin-bottom: 2em;
}

form #department {
    padding-right: 1.5em;
    font-size: 14px;
    font-family: nunito, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.send-button a {
    padding: 1.5em 5.6em;
    text-decoration: none;
    background-color: #141414;
    color: #f1f1f1;
    border: none;
    cursor: pointer;
    border-radius: 0.2em;
    margin: 0 0 2em 1em;
}

.send-button a:hover {
    background-color: #95ff00;
    color: #141414;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    padding: 1em;
    text-align: center;
    margin-top: 2em;
}

.here a {
    text-decoration: none;
    color: #008000;
}

.here a:hover {
    color: #95ff00;
}

.biomed-container p {
    width: 80%
}

.thank-you {
    font-size: 108px;
    color: #008000;
    font-weight: 700;
}