.right-half {
    background-image: url(../images/contribute2.png);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5em;
    align-items: left;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

main {
    padding-left: 0.3em;
}

.container1,
.container2,
.container3 {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    padding: 20px;
    max-width: 90%;
}

.container2 {
    flex-direction: row-reverse; 
    margin-left: 0.5em;
}

.support-image img,
.internship-image img,
.volunteer-image img  {
    height: auto; 
    max-width: 100%;
    width: 300px;
    padding-top: 1em;
    border-radius: 5px;
}

@media (max-width: 750px) {
    .container1,
    .container2,
    .container3 {
    align-items: center;
    flex-direction: column;
}
}

@media (max-width: 400px) {
    .support-image img,
    .internship-image img,
    .volunteer-image img {
    width: 250px;
}
}

.text1,
.text2,
.text3,
.image-content {
    flex: 1;
}

.text1,
.text3 {
    padding: 0.5em;
}

.text1 h2,
.text2 h2,
.text3 h2 {
    margin-top: 0;
    padding-left: 0.1em;
}