.right-half {
    background-image: url(../images/eclipse.png);
    background-size: cover;
    display: flex;
    flex-wrap: column;
    justify-content: left;
    gap: 1.5em;
    align-items: left;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
  
}

aside h2, p {
    text-align: center;
}

aside p {
    width: 80%;
}

.telescope {
    max-width: 100%;
    height: auto;
    width: auto;
}
