
.right-half {
    background-image: url(../images/exhibition-big.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5em;
    align-items: left;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.right-half .learn h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    flex-wrap: wrap;
}

.aside {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    margin-bottom: 20px;  
}

.aside img {
    width: 100%; 
    height: auto;
    max-width: 400px;
}

.aside [class*="-box"] {
    border-radius: 5px;  
    padding: 4.5em;  
    margin: 1em; 
}

.aside .cosmos-box {
    background-color: #7dfffb;  
}

.aside [class*="-box"] a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 93%;
    padding: 15px;
    border-radius: 5px;
    background-color: #141414; 
    color: #f1f1f1;
    text-align: center;
    text-decoration: none;
    font-size: 20px; 
    font-family: var(--font-family-main);
    transition: all 0.3s ease; 
}

.aside [class*="-box"] a:hover {
    background-color: #95ff00;
    color: #141414;
}

@media (max-width: 600px) {
    .aside [class*="-box"] a {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .aside [class*="-box"] a {
        max-width: 85%;
    }
}

@media (max-width: 400px) {
    .aside [class*="-box"] a {
        max-width: 80%;
    }
}

@media (max-width: 350px) {
    .aside [class*="-box"] a {
        max-width: 75%;
    }
}

.aside .evolution-box {
    background-color: #ffc472; 
}

.aside .heart-box {
    background-color: #ff7c7c;  
}

.aside .robot-box {
    background-color: #7dffde;  
}

.aside .eco-box {
    background-color: #7dff60;  
}

.aside .news-box {
    background-color: #7dafff;  
}

/* news exhibitions */
.aside .night-box {
    background-color: #800080;
}

.professor-box {
    background-color: #008000;
}

.aside .energetica-box {
    background-color: #0000c4;
}

.toys {
    width: 10%;
    margin-top: 5em;
    position: absolute;
    animation: slowMoveLeft 8s linear infinite;
}

@keyframes slowMoveLeft {
    from {
        transform: translate(100%);
    }
    to {
        transform: translate(-100%);
    }
}
