.right-half {
    background-image: url(../images/learn-kids.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: column;
    justify-content: left;
    align-items: left;
    gap: 1em;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
   
}
