
.right-half {
    background-image: url(../images/learn-kids.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: column;
    justify-content: left;
    align-items: left;
    gap: 1em;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
   
}

aside h2, h3, h4, h5 {
    margin: 0;
}

aside p {
    text-align: left;
    width: 80%;
}

.button-container1,
.button-container2,
.button-container3 {
    width: 300px;
    margin: 0 1em;
}

@keyframes bumpImage {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  
  .button-container1:hover,
  .button-container2:hover,
  .button-container3:hover {
    animation: bumpImage 0.8s ease;
  }

  /*CTA*/

.ex3-images .button-container1 img,
.ex3-images .button-container2 img,
.ex3-images .button-container3 img {
    max-width: 100%;
    width: 700px;
    height: auto;
    padding: 1em 0em 0.5em 0em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
 }

 .ex3-images  .button-container1 a,
 .ex3-images  .button-container2 a,
 .ex3-images  .button-container3 a   {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    letter-spacing: 4px;
    max-width: 90%;
    padding: 15px;
    border-radius: 5px;
    background-color: #141414;
    color: #f1f1f1; 
    text-align: center;
    text-decoration: none;
    font-size: 20px;  
    font-family: var(--font-family-main);
    transition: all 0.3s ease;  
}

.ex3-images  .button-container1 a:hover,
.ex3-images  .button-container2 a:hover,
.ex3-images  .button-container3 a:hover {
    background-color: #95ff00;
    color: #141414;
}

/* Specific button styles */
.ex3-images  .holiday-club a {
    background-color: #0000c4;  /* Orange for holiday club */
}

.ex3-images .teachers a {
    background-color: #008000;  /* Green for teachers */
}

.ex3-images  .researchers a {
    background-color: #800080;  /* Purple  for researchers */
}


@media (max-width: 600px) {
    .ex3-images .button-container1 a,
    .ex3-images .button-container2 a,
    .ex3-images .button-container3 a  {
        font-size: 18px; 
    }
}