
.right-half {
    background-image: url(../images/learn-kids.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: column;
    justify-content: left;
    align-items: left;
    gap: 1em;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
   
}

aside h2, h3, h4, h5 {
    margin: 0;
}

aside p {
    text-align: left;
    width: 80%;
}
