.right-half {
    background-image: url(../images/bumperswing-big.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: column;
    justify-content: left;
    gap: 1em;
    align-items: left;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.aside-kids .button-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    background-color: #141414;  /* Default background color */
    color: #f1f1f1;  /* Default text color */
    text-align: center;
    text-decoration: none;
    font-size: 20px;  /* Slightly reduced font size for better fit */
    font-family: var(--font-family-main);
    transition: all 0.3s ease;  /* Smooth transition for all properties */
}

.aside-kids .button-container {
    margin: 0.5em;
}

.aside-kids .button-container a:hover {
    background-color: #95ff00;
    color: #141414;
}

/* Specific button styles */
.aside-kids .holiday-club a {
    background-color: #0000c4;  /* Orange for holiday club */
}

.aside-kids .teachers a {
    background-color: #008000;  /* Green for teachers */
}

.aside-kids .researchers a {
    background-color: #800080;  /* Purple  for researchers */
}


@media (max-width: 600px) {
    .aside-kids .button-container a {
        font-size: 18px; 
    }
}