/* This is the additional style on indexpage*/
.right-half a img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #f1f1f1;
    text-shadow: var(--text-shadow);
    text-decoration: none;
    text-align: center;
}

.right-half img {
    width: 100%;
}

.left-half .atom {
    background-image: url(../images/atom.png);
    display: flex;
    flex-wrap: column;
    justify-content: left;
    gap: 1em;
    align-items: left;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.left-half a h3 {
    text-decoration: none;
}

.left-half a h4 {
    text-align: center;
    margin-left: 1em;
    padding-bottom: 3em;
}

a {
    text-decoration: none;
    align-self: center;
}

.highlight1 {
    color: #008000;
    font-weight: 500;
    font-size: 34px;
}

.highlight2 {
    color: #0000c4;
    font-weight: 500;
    font-size: 32px;
}

.highlight3 {
    color: #800080;
    font-weight: 500;
    font-size: 32px;
}