
:root {
    --text-shadow: 0px 0px 8px #f1f1f1;
    --font-family-main: nunito, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #e3fffe;
    margin: 0;
    max-width: 100%;
    height: auto;
}

p, h2, h3, h4, nav ul li a {
    max-width: 400px;
    letter-spacing: 2px;
    font-weight: 400;
    padding-right: 0.6em;
    text-shadow: var(--text-shadow);
    font-family: var(--font-family-main);
}

.right-half .cosmo-container,
.right-half .evolution-container,
.right-half .robotics-container,
.right-half .biomed-container,
.right-half .eco-container,
.right-half .learn {
   background-color: #ffffff50;
   padding: 0.3em 1em;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
    }


/* The sticky header and science museum text and logo*/

.sticky-header {
    position: sticky;
    top: 0;
    background: #edf5f9;
    z-index: 1000;
    border-bottom: 1px solid #dcdcdc;
    opacity: 0.9;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.sticky-header .logo {
    flex: 0 1 auto;
    margin-right: auto;
}

.sticky-header h2 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-size: 2em;
}

.sticky-header h2 a {
    color: inherit;
    font-weight: 200;
    font-size: 48px;
    text-decoration: none;
}

.split-index {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.left-half {
    background-image: url(../images/atom.png);
    display: flex;
    flex-wrap: column;
    justify-content: left;
    gap: 1em;
    align-items: left;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

@media (max-width: 750px) {
    .split-index {
        flex-direction: column;
    }
    .left-half, .right-half {
        max-width: 100%;
    }
}

.split-index .left-half, .right-half {
    flex: 1;
    width: 100%;
    height: 40em;
}

@media (max-width: 750px) {
    .right-half {
        min-height: 350px;
    }
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav ul li a {
    display: block;      
    margin: 10px 0;      
    font-size: 1em;   
    text-decoration: none;
    color: inherit;  
    text-shadow: var(--text-shadow);
    letter-spacing: 1px;
    transition: transform 0.5s ease;
    padding: 5px;
}

nav ul li a:hover {
    transform: translateX(10px);
    color: #f1f1f1;
    background-color: #141414;
    border-radius: 5px;
}

nav {
    position: absolute;  
    top: 0;              
    right: 0;             
    width: 100%;        
    height: 100vh;       
    background-color: rgba(242, 242, 242, 0.8);
    color: white;        
    display: none;       
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    z-index: 1500;  
    margin-top: 3.9em;
    padding-left: 0.5em;
    border-radius: 5px;
}
@media (max-width: 582px) {
    nav {
        margin-top: 5.2em;
    }
}

@media (max-width: 553px) {
    nav {
        margin-top: 6.2em;
    }
}

@media (max-width: 486px) {
    nav {
        margin-top: 7.5em;
    }
}

.right-half {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.right-half img {
    position: absolute;
    object-fit: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
    flex: 0 1 auto;
}

.right-half img:last-child {
    opacity: 0;
}

.right-half:hover img:last-child {
    opacity: 1;
}

.right-half:hover img:first-child {
    opacity: 0;
}

.logo {
    max-width: 6em;
    display: inline-block;
}

/* Hamburger menu */

label, #burger-menu-checkbox {
    display: none;
}

@media (max-width: 2560px) {

    body {background-color: #e3fffe;
    }

    nav, #burger-menu-checkbox {
        display: none;
       }

label, #burger-menu-checkbox:checked ~ nav {
           display: block;
           color: #2a2a2a;
           cursor: pointer;
           max-width: 300px;
           max-height: 400px;
         }
}

.burger-menu {
    font-size: 30px;
}

h2 a {
    text-decoration: none;
}

h2 a {
    display: flex;
    flex-wrap: wrap;
    line-height: 0.7em;
    padding-right: 1em;
}

.glowh1 {
    color: #141414;
    font-size: 58px;
    font-weight: 700;
    letter-spacing: -1px;
    text-shadow: var(--text-shadow);
    font-family: var(--font-family-main);
}

/* h1 in right-side is hidden for semantic purposes*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    padding: 0;
}

.aside .shimmer a,
.aside .shimmer2 a,
.aside .shimmer3 a,
.aside .shimmer4 a,
.aside .shimmer5 a,
.aside .shimmer6 a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #f1f1f1;
    margin: 0.5em;
    width: 155px;
    height: 59px;
    padding: 0.4em 0.8em;
    border-radius: 0.5em;
    background-color: #141414;
    letter-spacing: 1px;
    text-align: center;
    line-height: 1.1em;
    font-weight: 500;
    text-decoration: none;
    transition: transform 0.5s ease;
    font-size: 22px;
    font-family: var(--font-family-main);
}

 .aside .shimmer a:hover,
 .aside .shimmer2 a:hover,
 .aside .shimmer3 a:hover,
 .aside .shimmer4 a:hover,
 .aside .shimmer5 a:hover,
 .aside .shimmer6 a:hover {
    transform: translateX(10px);
    color: #141414;
    background-color: #f1f1f1;
    font-weight: 400;
    text-shadow: var(--text-shadow);
 }

 @media (max-width: 270px) {
    .aside .shimmer a,
    .aside .shimmer2 a,
    .aside .shimmer3 a,
    .aside .shimmer4 a,
    .aside .shimmer5 a,
    .aside .shimmer6 a {
        max-width: 100%;
        font-size: 22px;
    }
 }

aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

aside .kids img,
aside .teach img,
aside .re img {
    max-width: 300px;
    height: auto;
    padding: 1em 1em 0.5em 0em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
 }

 aside .teach img {
    max-height: 199px;
    width: 400px;
 }

 aside .re img {
    max-height: 199px;
 }


