
.right-half .cosmo-container,
.right-half .evolution-container,
.right-half .robotics-container,
.right-half .biomed-container,
.right-half .eco-container,
.right-half .learn {
   background-color: #ffffff50;
   padding: 0.3em 1em;
    }

h2 {
    color: #141414;
    font-size: 36px;
    margin: 0;
    max-width: 200px;
    letter-spacing: 5%;
    font-weight: 400;
    font-family: var(--font-family-main);
}

h3 {
    display: flex;
    line-height: 1.1em;
    font-size: 24px;
    margin: 0;
    padding: 1em 1em 1.4em 0;
    font-style: italic;
    font-weight: 400;
    color: #141414;
    font-family: var(--font-family-main);
}

h4 {
    text-align: center;
    width: 350px;
    font-size: 22px;
    color: #141414;
    padding-left: 0.3em;
    padding-top: 0.5em;
    font-weight: 300;
    margin-top: 0;
    letter-spacing: 5%;
    line-height: 1em;
    font-family: var(--font-family-main);
}

.learn p,
.cosmo-container p,
.evolution-container p,
.robotics-container p,
.biomed-container p,
.eco-container p {
    font-size: 21px;
    font-weight: 300;
    line-height: 1.2em;
    color: #141414;
    letter-spacing: 5%;
    font-family: var(--font-family-main);
}

