/* This is the additional style on left and right half*/
.right-half a img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #f1f1f1;
    text-shadow: var(--text-shadow);
    text-decoration: none;
    text-align: center;
}

.right-half img {
    width: 100%;
}

.highlight1,
.highlight2,
.highlight3 {
    font-weight: 700;
    font-size: 28px;
}

.highlight1 {
    color: #008000;
}

.highlight2 {
    color: #0000c4;
}

.highlight3 {
    color: #800080;
}

.dino-container {
    position: relative;
    max-width: 100%;
    width: 400px;
    height: auto;
}

