.right-half a img {
    position: absolute;
    top: 34%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #f1f1f1;
    text-shadow: var(--text-shadow);
    text-decoration: none;
    text-align: center;
}

.right-half img {
    width: 100%;
}



.left-half .atom {
    background-image: url(../images/atom.png);
    display: flex;
    flex-wrap: column;
    justify-content: left;
    gap: 1em;
    align-items: left;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}